/* line 9, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
header {
  background-color: #e6f8c4;
  display: end;
  color: #383838 !important;
  font-family: "Roboto" !important;
}

/* line 18, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
a:link {
  color: #414040 !important;
  cursor: pointer !important;
}

/* line 23, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
a:visited {
  color: #999999 !important;
}

/* line 27, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
a:hover {
  color: #d664a3 !important;
}

/* line 31, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
a:active {
  color: #9dc772 !important;
}

/* line 38, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
main {
  background-color: #f7f7f7;
  font-family: "Roboto" !important;
}

/* line 43, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
h1,
h2,
h3 {
  text-align: center;
  margin: 20 px;
  padding: 10px;
  font-family: "Roboto" !important;
}

/* line 52, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
#hero {
  margin: 30px;
  padding: 30px;
}

/* line 58, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
#nosotras {
  background-color: #e6f8c4;
  text-align: center !important;
  align-items: center;
  line-height: 30px;
}

/* line 66, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
#nutri1 {
  align-items: center center;
  text-align: center;
}

/* line 71, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
#nutri2 {
  align-items: center center;
  text-align: center;
  margin: 30px;
}

/* line 77, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
.nutri {
  background-color: #dad9d9;
}

/* line 81, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
.whatsapp {
  justify-content: center !important;
  align-items: center !important;
  display: flex;
  margin: 0% auto;
  margin-bottom: 30px;
}

/* line 89, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
h3 {
  background-color: #f1f1f1;
}

/* line 93, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
img p {
  display: block;
  margin: 0% auto;
}

/* line 98, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
#galeria p {
  margin: 20px;
}

/* line 102, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
#galeria .img-fluid {
  display: flex;
  flex-wrap: wrap;
  filter: grayscale(100) blur(1px);
  transition: all 0.3s;
  position: relative;
  border-radius: 10px;
}

/* line 110, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
#galeria .img-fluid:hover {
  filter: grayscale(0);
  transform: scale(1.1);
  z-index: 2;
  cursor: pointer;
}

/* line 118, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
.direccion {
  text-align: center;
  font-family: "Roboto" !important;
}

/* line 123, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
p {
  text-align: justify;
  font-family: "Roboto" !important;
}

/* line 128, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
ul,
li {
  font-family: "Roboto" !important;
}

/* line 133, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
form {
  margin: 20px;
  padding: 20px;
}

/* line 138, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
.form-label {
  margin-top: 15px;
}

/* line 142, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
.form-check {
  margin-top: 15px;
}

/* line 146, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
.form-floating {
  margin-top: 15px;
}

/* line 150, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
.formulario {
  text-align: center;
  font-family: "Roboto" !important;
}

/* line 156, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
#boton {
  margin-top: 15px;
  background-color: #cecccc;
  color: #383838;
  transition: all .5s;
}

/* line 162, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
#boton:hover {
  background-color: #ffe6ea;
}

/* line 168, ../../../OneDrive - Rizobacter Argentina S.A/escritorio/Coderhouse/Proyecto 3/scss/estilos.scss */
footer {
  background-color: #e6f8c4;
  color: #383838;
  text-decoration: none !important;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
}

/*# sourceMappingURL=estilos.css.map */