$color-primario: rgb(65, 64, 64);
$color-secundario: rgb(230, 248, 196);
$color-terciario: rgb(56, 56, 56);
$color-cuarto: rgb(255, 230, 234);
$fuente-principal: "Roboto";



header {
    background-color: $color-secundario;
    display: end;
    color: $color-terciario !important;
    font-family: $fuente-principal !important;
}


a {
    &:link {
        color: $color-primario !important;
        cursor: pointer !important;
    }

    &:visited {
        color: rgb(153, 153, 153) !important;
    }

    &:hover {
        color: rgb(214, 100, 163) !important;
    }

    &:active {
        color: rgb(157, 199, 114) !important;
    }
}



main {
    background-color: rgb(247, 247, 247);
    font-family: $fuente-principal !important;
}

h1,
h2,
h3 {
    text-align: center;
    margin: 20 px;
    padding: 10px;
    font-family: $fuente-principal !important;
}

#hero {
    margin: 30px;
    padding: 30px;
}


#nosotras {
    background-color: $color-secundario;
    text-align: center !important;
    align-items: center;
    line-height: 30px;
}


#nutri1 {
    align-items: center center;
    text-align: center;
}

#nutri2 {
    align-items: center center;
    text-align: center;
    margin: 30px;
}

.nutri {
    background-color: rgb(218, 217, 217);
}

.whatsapp {
    justify-content: center !important;
    align-items: center !important;
    display: flex;
    margin: 0% auto;
    margin-bottom: 30px;
    }

h3 {
    background-color: rgb(241, 241, 241);
}

img p {
    display: block;
    margin: 0% auto;
}

#galeria p {
    margin: 20px;
}

#galeria .img-fluid {
    display: flex;
    flex-wrap: wrap;
    filter: grayscale(100) blur(1px);
    transition: all 0.3s;
    position: relative;
    border-radius: 10px;

    &:hover {
        filter: grayscale(0);
        transform: scale(1.1);
        z-index: 2;
        cursor: pointer;
    }
}

.direccion {
    text-align: center;
    font-family: $fuente-principal !important;
}

p {
    text-align: justify;
    font-family: $fuente-principal !important;
}

ul,
li {
    font-family: $fuente-principal !important;
}

form {
    margin: 20px;
    padding: 20px;
}

.form-label {
    margin-top: 15px;
}

.form-check {
    margin-top: 15px; 
}

.form-floating {
    margin-top: 15px; 
}

.formulario {
    text-align: center;
    font-family: $fuente-principal !important;
}


#boton {
    margin-top: 15px;
    background-color: rgb(206, 204, 204);
    color: $color-terciario;
    transition: all .5s;

    &:hover {
        background-color: $color-cuarto;
    }
}


footer {
    background-color: $color-secundario;
    color: $color-terciario;
    text-decoration: none !important;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}
